body {
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: "Poppins", sans-serif;
}

main hr {
  border: 0;
  background: none;
  border-bottom: 3px solid #918cf3;
  margin: 60px 84px;
}

.bottom-hr {
  margin-bottom: 40px;
}

.firstSection {
  margin-top:130px;
  margin-bottom:130px;
}

.row{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.leftSection {
  font-size: 2.45rem;
}

.rightSection img {
height:auto;
  width: 60%;
}

.purple {
  color: rgb(143, 80, 202);
}

.text-gray {
  color: gray;
}

#element {
  color: rgb(143, 80, 202);
}

.secondSection {
  margin: auto;
  max-width: 80vw;
  height: 80vh;
}

.secondSection h1 {
  font-size: 1.9rem;
}

.secondSection .box {
  background: white;
  width: 80vw;
  height: 2px;
  margin: 56px 0;
  display: flex;
}


.image-top {
  width: 23px;
  position: absolute;
  top: 32px;
  left: -20px;
}


.vertical-title {
  position: relative;
  top: 25px;
  width: 150px;
}

.vertical-desc {
    position: relative;
    top: 35px;
    color: gray;
    width: 150px;
    font-size: 9px;
}

.col-md-6.position-relative {
  height: 200px; /* Adjust the height value according to your requirement */
}

.footer-bottom {
  background-color:rgb(0, 0, 33);
  text-align: center;
  color: white;
  margin-bottom:40px;
}

.footer-rights {
  font-size: 10px;
  margin-top: 10px;
}

.contact-container {
  position: relative;
  display: inline-block;
  margin-top: 8px;
}

.contact-btn {
  font-family: "Poppins", sans-serif;
  background-color: rgb(18, 18, 62);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.contact-btn .arrow {
  margin-left: 10px;
  transition: transform 0.3s;
}

.contact-dropdown {
  display: none;
  position: absolute;
  background-color: rgb(18, 18, 62);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border 0.3s;
}

.contact-dropdown.outlined {
  border: 2px solid black;
}

.navbar-custom {
  background-color: rgb(18, 18, 62);
}

.navbar-brand {
  margin-left: 155px;
  font-size: 24px;
}

.nav-item {
  margin-right: 30px;
  align-items: center;
}

.navbar-collapse {
  margin-right: 158px;
}

.container-fluid {
  margin: 8px;
}

.aboutme{
  font-size:35px;
}
.aboutme, .education {
  text-align: center; /* Centering section headings */
  margin-top: 50px; /* Adding some top margin */
}

.education{
  font-size:35px;
}
.section-about, .section-education {
  padding: 50px 0; /* Adding padding to sections */
}

.rightSection-title {
  position: relative;
  align-items:center;
}

.soda-title{
  font-size: 20px;
  text-align: center;
}

.rightSection-about, .rightSection-education {
  padding: 0 20px; /* Adding padding to text content */
}

.col-lg-6 {
  display: flex; /* Make the column a flex container */
  justify-content:center; /* Center the contents horizontally */
}

@media (max-width: 992px) {
  .col-lg-6 {
      margin-bottom: 40px; /* Adding space between image and text */
  }
}

.services{
  font-size: 100px;
}
